.splide{
  padding: 0px 48px;
}

.splide__track{
  background: #221540;
}
.splide__slide{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
img{
  border-radius: 10px;
}

